@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
  }


  #output-text {
    overflow-y: auto; /* Always show a vertical scrollbar */
    scrollbar-width:none; 
    max-width:400px;
  }