@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
    background-color: #222327;
}

#output-text ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

